body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
}

input[type="checkbox"] + label:after {
  content: "✓";
  /* font-family: FabricMDL2Icons; */
  display: block;
  position: absolute;
  font-weight: 900;
  background-color: transparent;
  font-size: 13px;
  top: 0;
  color: #fff;
  line-height: 20px;
  width: 20px;
  text-align: center;
}

input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  border: 2px solid #a6a6a6;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-weight: 400;
  position: absolute;
  box-sizing: border-box;
  transition-property: background, border, border-color;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.23, 1);
}

input[type="checkbox"]:checked + label:before {
  border: 10px solid #0078d7;
  background-color: #0078d7;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group-error {
  padding-left: 1rem;
  border-left: 0.2rem solid red;
}

h4 {
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.nav-masthead .nav-link {
  font-size: 1.3rem;
  margin: 0rem 1rem;
}

.react-bootstrap-table th[data-row-selection] {
  width: 2.6rem !important;
}
